.logo{
    height: 7.5vh;
}
*
{
    font-family: 'Nunito', sans-serif;
    font-family: 'Bebas Neue', sans-serif;

}
.option{
    font-size: x-large
}
.maino{
    background-color: #457884;
    height: 100vh;
    padding-top: 12.5vh;
}
.imgbackground{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbackground{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h4stile{
    color: #dadfe4;
}
.bottonecalltoaction{
    border: none;
    background-color: #154854;
    border-radius: 50px;
    font-size: x-large;
    padding: 1.5vh;
    color: #dadfe4;
}
.turnblackintoblue{
    color: #0d2d35;
}
.showcalltoaction{
    height: 100vh;
    background-color: #98d5a4;
}
.navbar{
    background-color: #dadfe4;
}
.despair{
    background-color: #457883;
    height: 62.5vh;
    border-radius: 50px;
    font-size: large;
}
.h2style{
    font-size: xx-large;
    color:  #0d2d35;;
}
.immdespair{
    height: 25vh;   
}
.headerstyle{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #0d2d35;
}
.articlestyle{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #dadfe4;
}

